body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.fire-text{
    color: #E25822;
}
.purple-text{
    color: #3700B3;
}
.white-text{
   color: white;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
.flexible-container{
    display: flex;
}
.top-border{
border-left: 3px solid #3700B3;
padding: 5px 10px;
}
.wlc{
    margin-top: 0;
    margin-bottom: 5px;
}
.cr{
    margin-bottom: 0;
    margin-top: 5px;
}
.half-width{
    width: 50%;
    margin: 10%;
}
.half-width img{
    width: 80%;
}
.description{
    text-decoration: none;
    color: white;
    background-color: #3700B3;
    padding: 10px;
    border-radius: 10px;
}
.mid-head{
    text-align: center;
}
.box-shadow{
    box-shadow: white 0px 8px 24px;
    width: 26%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}
.box-text{
    color:black ;
}
.goals{
background-color: #CAF1DE ;
}
.assists{
    background-color: #FEF8DD;
}
.apps{
background-color: #E1F8DC;
}
.stats-button{
    text-decoration: none;
    color: white;
    background-color: #3700B3;
    padding: 10px;
    border-radius: 10px;
}
.read-button{
    text-decoration: none;
    color: white;
    background-color: #3700B3;
    padding: 10px;
    border-radius: 10px;
}
.submit-button{
    text-decoration: none;
    color: white;
    background-color: #3700B3;
    padding: 5px;
    border-radius: 10px;
}
.feature-button{
    text-decoration: none;
    color: white;
    background-color: #3700B3;
    padding: 10px;
    border-radius: 10px;
}
footer{
    background-color: black;
    text-align:center ;
    float: none;
}
footer div{
    margin: 0px;
    padding: 0px;
}
.text-format{
    text-align: center;
}